
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*ligth mode*/

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: rgb(255, 255, 255);

}

button {
    background-color: rgb(233, 244, 255);
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    
}

.btn-custom {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    justify-content: flex-end;
}


.section-title {
    font-family: 'Poppins', sans-serif;
}

.text-colored-1 {
    color: #000000;
}

.text-colored {
    color: #06196e;
}

#perfil-pessoal, #menuesquerdo, #projeto1, #projeto2, #projeto3, #projeto4 {
    padding: 40px;
    border: 1px solid rgb(213, 220, 228); 
    border-radius: 10px;
}


.social-links li {
    list-style: none;
    display: inline;
    
}

.social-links a {
    text-decoration: none;
}

.nav-portifolio .nav-link:hover {
    color: #1f3d5e;
}


@media (max-width: 767px) {
    .carousel-item img {
        height: 280px
    }
}