body {
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
}

.navbar {
    background-color:  #222f3e;
}

#cabecalho .nav .nav-link.active {
    background-color: #d84949;
    color: #ffffff;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover ,
.nav-portifolio .nav-link.active:hover {
    color:#d4d4d4;
}

.navbar-toggler {
    background-color: #222f3e;
}
.section-title {
    font-family: 'Libre Franklin', sans-serif;
}

#sobre-a-empresa, #portifolio {
    background-color: #0b0f14;
}

.text-colored-1 {
    color: #ffffff;
}

.text-colored {
    color: #2da752;
}

.nav-portifolio .nav-link.active,
#fale-conosco button {
    background-color:  #253242;
    color: #ececec;
}

.nav-portifolio .nav-link:hover {
    color: #bfcad6;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px
    }
}